@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* Custom styles for Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
}
